

<div class="container">
    <div class="row text-center">
        <div class="col-lg-12">
            <h1>
              <strong>Wikibloc<strong>
            </h1>
            <h2>A place to create, collaborate, and share markdown wiki's.</h2>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-file-code-o fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <strong>Markdown Format</strong>
                    </h4>
                    <p>Our application allows users to create beautiful wiki's that utilize markdown formatting syntax.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                  <div class="service-item">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-lock fa-stack-1x text-primary"></i>
                    </span>
                      <h4>
                        <strong>Public or Private</strong>
                      </h4>
                        <p>As a user you have the ability to create public or private wiki's.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="service-item">
                      <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-check-circle fa-stack-1x text-primary"></i>
                      </span>
                      <h4>
                        <strong>Premium or Standard</strong>
                      </h4>
                        <p>There are two different account options: an unpaid and paid subscription.</p>
                    </div>
                </div>
              </div>

          </div>
        </div>
      </div>
