/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require bootstrap
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.user-info {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.glyphicon {
  display: inline-block;
  margin-right: 5px;
}

html {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin-bottom: 100px;
}

a{color:#0088cc;}
a:hover{text-decoration: none;}

h1,h2,h3,h4,h5,h6{ font-family:'Source Sans Pro', sans-serif}

h1{font-size:50px; font-weight: 200}
h2{font-size: 30px; font-weight: 300; margin-bottom: 50px}
h3{font-size: 20px; font-weight: 400}
h4{font-size:18px; font-weight: 400}

p{font-weight: 400;}

/*Feature
==========================*/
.feature-box{
	margin-top: 60px;
	text-align: center;
}

.service-item {
  margin-bottom: 50px;
}

.footer {
  margin-bottom: 25px;
}
